<div class="container-fluid">
<%= link_to "Import your Gmail contacts", '/contacts/gmail', class: 'btn contacts-contacts' %>
  <div class="flex-center" id="contacts-list-title">
    <h2><strong>
      <% if current_user.id == @business_card.user.id %>
        My contacts
      <% else %>
        <%= "#{@business_card.first_name}'s Contacts" %>
      <% end %>
        </strong></h2>
  </div>
  <div class="search-contacts flex-center">
    <%= form_tag business_card_connections_path(@business_card), method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search Name, Location, Industry, Company' %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Tags' %>
      <%= submit_tag 'Search', name: nil , class: "btn search-btn" %>
    <% end %>
  </div>
  <div class="contacts-list-container">
    <div class="flex-center">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company</th>
          <th>Industry</th>
          <th>Location</th>
          <th>Tags</th>
        </tr>
        <% @contacts.each do |contact| %>
          <% if current_user.id == @business_card.user.id %>
            <tr data-link=<%= business_card_path(contact.id) %>>
          <% else %>
            <tr>
          <% end %>
              <td><%= contact.first_name %></td>
              <td><%= contact.last_name %></td>
              <td><%= contact.company_name %></td>
              <td><%= contact.industry %></td>
              <td><%= (contact.location).truncate(15) %></td>
              <td>
                <% tags = [] %>
                <% contact.tags.valid_tags(contact.id, current_user.id).uniq.each do |tag| %>
                  <% tags << tag.label %>
                <% end  %>
                <%= tags.join(', ') %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% if @gmail_contacts %>
    <%= @gmail_contacts %>
  <% end %>
</div>
