<div class="container-fluid">
  <%= cl_image_tag("rsa5lkr6pm64sbwdi6vu", width: 200, height: 200) %>
  <div class="flex-center" id="contacts-list-title">
    <h2><strong>My contacts</strong></h2>
  </div>
  <div class="flex-center">
    <div class="contacts-list-container">
      <table>
        <tr>
          <th><%= sortable 'first_name', 'First Name' %></th>
          <th><%= sortable 'last_name', 'Last Name' %></th>
          <th><%= sortable 'company_name', 'Company' %></th>
          <th><%= sortable 'location', 'Location' %></th>
          <th>Tags</th>
        </tr>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <td><%= contact.company_name %></td>
            <td><%= (contact.location).truncate(15) %></td>
            <td>
              <% tags = [] %>
              <% contact.tags.each do |tag| %>
                <% tags << tag.label %>
              <% end  %>
              <%= (tags.join(', ')).truncate(25) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
