<div class="container-fluid">
  <div class="flex-center" id="contacts-list-title">
    <h2><strong>My contacts</strong></h2>
  </div>
  <div class="search-contacts flex-center">
    <%= form_tag business_card_connections_path(@business_card), method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search Name, Location, Company' %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Tags' %>
      <%= submit_tag 'Search', name: nil , class: "btn search-btn" %>
    <% end %>
  </div>
  <div class="flex-center">
    <div class="contacts-list-container">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company</th>
          <th>Location</th>
          <th>Tags</th>
        </tr>
        <% @contacts.each do |contact| %>
          <tr data-link=<%= business_card_path(contact.id) %>>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <td><%= contact.company_name %></td>
            <td><%= (contact.location).truncate(15) %></td>
            <td>
              <% tags = [] %>
              <% contact.tags.each do |tag| %>
                <% tags << tag.label %>
              <% end  %>
              <%= tags.join(', ') %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
