<!-- TITLE -->
<% content_for(:title_tag) do %>
  NLAC | <%= @business_card.user == current_user ? "My contacts" : @business_card.full_name + "'s contacts" %>
<% end %>

<!-- CONTENT -->
<div class="container">

  <!-- LEFT -->
  <div class="content-left">
    <h1>
      <strong>
        <%= @business_card.user.id == current_user.id ? "MY CONTACTS" : @business_card.first_name.upcase + "'S CONTACTS"  %> (<%= @business_card.user.contacts.count %>)
      </strong>
    </h1>

    <!-- SEARCH -->
    <div class="search">
      <%= form_tag business_card_connections_path(@business_card), method: :get do %>
        <%= text_field_tag :info, params[:info], class: "search-input", id: "search-info" %>
        <%= text_field_tag :tag, params[:tag], class: "search-input", id: "search-tag" %>
        <%= button_tag(type: "submit", class: "search-btn") do %>
          <i class="material-icons">search</i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="content-right">

  </div>

</div>
