<!-- COMPUTER -->
  <!-- CONTAINER -->
  <div class="computer-nav-container flex">
    <!-- LOGO -->
    <div class="nav-left flex-center">

    </div>
    <!-- NAVBAR -->
    <div class="nav-right flex-between">
      <!-- CREATE COMMUNITY -->
      <div class="nav-community-btn" data-toggle="modal" data-target="#createCommunityModal"><h1>CREATE A COMMUNITY</h1></div>
      <!-- LOG OUT -->
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">power_settings_new</i>
      <% end %>
    </div>
  </div>


<!-- MODAL -->
<div class="modal fade" id="createCommunityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create a community</h4>
      </div>
      <div class="modal-body">
          <%= simple_form_for @new_community do |f| %>
          <%= f.error_notification %>
            <h6>Name</h6>
            <%= f.input :name, label: false, input_html: {class: "community-input"} %>
            <h6>Description</h6>
            <%= f.input :description, label: false, input_html: {class: "community-input"} %>
            <h6>Photo</h6>
            <%= f.input :photo, label: false %>
      </div>
      <div class="modal-footer">
        <%= f.submit "CREATE", class: "community-create-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $('#createCommunityModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })
  </script>
<% end %>












