<div class="navbar-container flex-between">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "NLAC.png" %>
  <% end %>


  <!-- Right section -->
  <div class="navbar-right flex-between">
    <% if user_signed_in? %>

      <!-- Contacts -->
        <%= link_to 'My Contacts', business_card_connections_path(current_user), class: "navbar-link" %>

      <!-- Cog -->
      <div class="navbar-cog">
        <div class="dropdown">
          <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu navbar-dropdown-menu">
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
        </div>
      </div>

      <!-- Avatar -->
      <%= link_to business_card_path(current_user) do %>
        <% if current_user.business_card.photo == "" %>
          <%= image_tag current_user.business_card.photo.url(:navbar), class: "navbar-avatar" %>
        <% else %>
          <% avatar_url = current_user.business_card.linkedin_picture_url %>
          <%= image_tag avatar_url, class: "navbar-avatar" %>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>

