<!-- COMPUTER -->
  <!-- CONTAINER -->
  <div class="computer-side-container flex-column">
    <!-- TOP -->
    <div class="side-top flex-column">
      <!-- AVATAR -->
      <% if current_user.business_card.photo == "" %>
        <% avatar = current_user.business_card.photo.url %>
      <% elsif current_user.business_card.linkedin_picture_url %>
        <% avatar = current_user.business_card.linkedin_picture_url %>
      <% else %>
        <% avatar = image_path('avatar.png') %>
      <% end %>
      <%= link_to business_card_path(current_user) do %>
        <%= image_tag avatar, class: "side-avatar" %>
      <% end %>
      <!-- NAME -->
      <div class="side-name flex-center flex-wrap">
        <h2><%= current_user.business_card.first_name %></h2>
        <h2><%= current_user.business_card.last_name %></h2>
      </div>
    </div>
    <!-- BOTTOM -->
    <div class="side-bottom">
      <div class="side-row flex">
        <!-- PROFILE -->
        <%= link_to business_card_path(current_user), class: "side-option flex-center flex-column #{'side-active' if active == 'business_cards#show'}" do %>
          <%= image_tag("profile-icon.png", class: "side-img") %>
          <h4>PROFILE</h4>
        <% end %>
        <!-- CONTACTS -->
        <%= link_to business_card_connections_path(current_user), class: "side-option flex-center flex-column #{'side-active' if active == 'connections#index'}" do %>
          <%= image_tag("contacts-icon.png", class: "side-img") %>
          <h4>CONTACTS</h4>
        <% end %>
      </div>
      <div class="side-row flex">
        <!-- COMMUNITIES -->
        <%= link_to communities_path, class: "side-option flex-center flex-column #{'side-active' if active == 'communities#index'}" do %>
          <%= image_tag("communities-icon.png", class: "side-img") %>
          <h4>COMMUNITIES</h4>
        <% end %>
        <!-- REQUESTS -->
        <%= link_to business_card_connection_requests_path(current_user), class: "side-option flex-center flex-column #{'side-active' if active == 'connection_requests#index'}" do %>
          <%= image_tag("requests-icon.png", class: "side-img") %>
          <h4>REQUESTS</h4>
        <% end %>
      </div>
      <div class="side-row flex">
        <!-- MESSAGES -->
        <%= link_to conversations_path, class: "side-option flex-center flex-column #{'side-active' if active == 'conversations#index'}" do %>
          <%= image_tag("messages-icon.png", class: "side-img") %>
          <h4>MESSAGES</h4>
        <% end %>
      </div>
    </div>
  </div>




<!-- PHONE -->
