<!-- CONTAINER -->
<div class="side-container flex-between">

  <!-- PROFILE -->
  <%= link_to business_card_path(current_user) do %>
    <i class="fa fa-user" aria-hidden="true"></i>
  <% end %>
  <!-- CONTACTS -->
  <%= link_to business_card_connections_path(current_user) do %>
    <i class="fa fa-address-card" aria-hidden="true"></i>
  <% end %>
  <!-- COMMUNITIES -->
  <%= link_to communities_path do %>
    <i class="fa fa-users" aria-hidden="true"></i>
  <% end %>
  <!-- REQUESTS -->
  <%= link_to business_card_connection_requests_path(current_user) do %>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
  <% end %>
  <!-- MESSAGES -->
  <div data-target="#message-notification">
    <%= link_to conversations_path do %>
      <i class="fa fa-comments" aria-hidden="true"></i>
      <% if @unread_messages_count > 0 %>
        <div class="side-notifications" id="message-notification">
          <p><%= @unread_messages_count %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
