<!-- TITLE -->
<% content_for(:title_tag) do %>
  NLAC | Sign In
<% end %>

<!-- CONTENT -->

  <!-- LEFT SIDE -->
  <div class="sign-left">

  </div>

  <!-- RIGHT SIDE -->
  <div class="sign-rigth">
    <!-- SIGN IN/UP -->
    <div class="flex">
      <h1><%= link_to "Sign up", new_registration_path(resource_name)%></h1>
      <p>OR</p>
      <h1>Sign In</h1>
    </div>
    <!-- LINKEDIN REGISTRATION -->
    <div class="flex-center">
      <p style="font-size: 14px; margin-top: 35px;">Instant sign in</p>
    </div>
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <div class="flex-center">
            <div class="linkedin-btn flex">
              <div class="linkedin-btn-left">in</div>
              <div class="linkedin-btn-right">Sign in with Linkedin</div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <!-- MANUAL REGISTRATION -->
    <div class="flex-center" style="margin-top: 10px;">
      <div style="border-bottom: 1px solid rgba(255, 255, 255, 0.3); flex: 0 0 38%;"></div>
      <p style="margin: 0 50px; font-size: 12px;">OR</p>
      <div style="border-bottom: 1px solid rgba(255, 255, 255, 0.3); flex: 0 0 38%;"></div>
    </div>
    <div class="flex-center">
      <p style="font-size: 14px; margin-top: 25px;">Manual sign in</p>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <h4 style="margin-top: 50px;">E-MAIL</h4>
        <%= f.input :email, label: false, placeholder: 'Enter your email address' %>
        <h4 style="margin-top: 50px;">PASSWORD</h4>
        <%= f.input :password, label: false, placeholder: '********' %>
        <!-- REMEMBER ME -->
        <div class="form-group boolean optional user_remember_me" style="margin-top: 25px;">
          <div class="checkbox">
            <input value="0" type="hidden" name="user[remember_me]">
              <input class="boolean optional cool-checkbox" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" style="
">
            <label class="boolean optional" for="user_remember_me"></label>
          </div>
        </div>
        <span>Remember me</span>
        <!-- SIGN UP -->
        <div class="flex-start" style="margin-top: 35px;">
          <%= f.button :submit, "Sign in", class: 'sign-btn' %>
          <%= link_to "I don't have an account yet", new_registration_path(resource_name), class: 'sign-link' %>
        </div>
    <% end %>
  </div>






