<!-- Left section -->
<div class="sign-up-left">
  <div class="sign-up-card flex-column">
    <!-- NLAC -->
    <div class="flex-column flex-center" style="flex: 0 0 20%;">
      <h1>Never Lose A Contact</h1>
      <%= image_tag 'nlac-logo.png' %>
    </div>
    <!-- Linkedin -->
    <div class="sign-up-form">
      <p style="text-align: center;">Instant Log in</p>
      <% if devise_mapping.omniauthable? %>
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
            <div class="flex-center">
              <div class="linkedin-btn flex">
                <div class="linkedin-btn-left">in</div>
                <div class="linkedin-btn-right">Log in with Linkedin</div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <!-- Manual -->
      <div class="flex-center" style="margin: 20px 0;">
        <div class="line"></div>
        <p style="margin: 0 20px;">OR</p>
        <div class="line"></div>
      </div>
      <p style="text-align: center;">Manual Log in</p>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="flex-center" style="margin-top: 10px;">
          <%= f.input :email, label_html: { class: 'label' } %>
        </div>
        <div class="flex-center" style="margin-top: 10px;">
          <%= f.input :password, label_html: { class: 'label' } %>
        </div>
        <div class="flex-center" style="color: #939494; font-size: 10px; height: 30px;">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="flex-center" style="margin-top: 20px;">
          <%= f.button :submit, "Log in", class: 'sign-up-btn' %>
        </div>
        <div class="flex-end" style="margin-top: 20px;">
          <p>Don't have an account yet? <%= link_to "Sign up", new_registration_path(resource_name), style: 'color: #2AAF74; font-size: 12px;'%></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Right sections -->

  <div id="nlac-features" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#nlac-features" data-slide-to="0" class="active"></li>
      <li data-target="#nlac-features" data-slide-to="1"></li>
      <li data-target="#nlac-features" data-slide-to="2"></li>
      <li data-target="#nlac-features" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner sign-up-right" role="listbox">
      <!-- General features -->
      <div class="carousel-item active">
        <div class="feature-top flex-center">
          <%= image_tag 'feature-contacts.png', class: 'feature-image' %>
        </div>
        <div class="feature-bottom flex-center">

        </div>
      </div>
      <!-- Feature 1 -->
      <div class="carousel-item">
        <div class="feature-top flex-center">
          <%= image_tag 'feature-business-card.png', class: 'feature-image' %>
        </div>
        <div class="feature-bottom flex-center">

        </div>
      </div>
      <!-- Feature 2 -->
      <div class="carousel-item">
        <div class="feature-top flex-center">
          <%= image_tag 'feature-community.png', class: 'feature-image' %>
        </div>
        <div class="feature-bottom flex-center">

        </div>
      </div>
      <!-- Feature 3 -->
      <div class="carousel-item">
        <div class="feature-top flex-center">
          <%= image_tag 'feature-chat.png', class: 'feature-image' %>
        </div>
        <div class="feature-bottom flex-center">

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#nlac-features" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#nlac-features" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>









