<div class="container-fluid">
  <div class="flex-center flex-column">
    <div class="business-card">
      <% if @business_card.user_id === current_user.id %>
        <%= link_to edit_business_card_path(@business_card), class: 'edit-link' do %>
          <p>Edit</p>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <div class="card-left flex-around flex-column">
        <div class="card-avatar">
          <%= image_tag "#{@business_card.linkedin_picture_url}" %>
        </div>
        <div class="card-name flex-center">
          <h3><strong><%= @business_card.full_name %></strong></h3>
        </div>
        <div class="card-job">
          <p><strong><%= @business_card.industry %></strong></p>
        </div>
      </div>
      <div class="card-right flex-around flex-column">
        <div class="info flex">
          <div class="info-icon flex-center">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <p><%= @business_card.phone %></p>
        </div>
        <div class="info flex">
          <div class="info-icon flex-center">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <p><a href=<%= "mailto:#{@business_card.email}" %>><%= truncate(@business_card.email, length: 25) %></a></p>
        </div>
        <div class="info flex">
          <div class="info-icon flex-center">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <p><%= @business_card.linkedin_profile_url %></p>
        </div>
        <div class="info flex">
          <div class="info-icon flex-center">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <p><%= @business_card.location %></p>
        </div>
      </div>
    </div>
    <div class="tags-card flex-column">
      <h4><span>#</span>tags</h4>
      <%= react_component "TagsCard", {tags: @tags, business_card: @business_card} %>
    </div>
  </div>
</div>
