<!-- TITLE -->
<% content_for(:title_tag) do %>
  NLAC | <%= @business_card.user == current_user ? current_user.business_card.full_name : @business_card.full_name %>
<% end %>

<!-- COMPUTER -->
  <!-- CONTAINER -->
  <div class="container">
    <!-- LEFT -->
    <div class="content-left-bc">
      <!-- BUSINESS CARD -->
      <div class="business-card flex-column">
        <div class="border-top-card"></div>
        <!-- REMOVE CONTACT -->
        <% if current_user.business_card != @business_card %>
          <div class="flex-end" style="height: 20px; margin: 10px 10px 0 0;">
            <%= link_to connection_path(user: current_user, contact: @business_card.user), method: :delete do %>
              <i class="material-icons destroy flex-center" title="Remove from contacts">clear</i>
            <% end %>
          </div>
        <% else %>
          <div style="height: 20px; margin: 10px 10px 0 0;"></div>
        <% end %>
        <!-- AVATAR -->
        <div class="flex-center">
          <% if !@business_card.photo.url.nil? %>
            <% avatar = @business_card.photo.url %>
          <% elsif @business_card.linkedin_picture_url != "" && !@business_card.linkedin_picture_url.nil? %>
            <% avatar = @business_card.linkedin_picture_url %>
          <% else %>
            <% avatar = "avatar.png" %>
          <% end %>
          <%= image_tag avatar, class: 'business-card-avatar' %>
        </div>
        <!-- UPLOAD PHOTO -->
        <% if current_user.business_card == @business_card %>
          <form novalidate="novalidate" class="simple_form edit_business_card flex-end" id="edit_business_card_1" style="height: 0;" enctype="multipart/form-data" action="/business_cards/1" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="authenticity_token" value="">
            <input class="file optional file-upload" type="file" name="business_card[photo]" id="photo-upload"></input>
            <label class="control-label file optional" for="photo-upload">
              <i class="fa fa-cloud-upload" title="Upload a photo" aria-hidden="true"></i>
            </label>
            <span style="position: relative; top: 50px;">
              <input type="submit" name="commit" value="Update photo" class="hidden" data-disable-with="Update photo">
            </span>
          </form>
        <% end %>
        <!-- REACT COMPONENT -->
        <%= react_component "BusinessCard", {business_card: @business_card, current_user: current_user, user: @business_card.user, contacts: @business_card.user.contacts}, {style: "flex:1; width:100%; padding:20px 0 10px 0"} %>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="content-right-bc">
      <!-- TAGS CARD -->
      <div class="tags-card">
        <div class="border-top-card"></div>
        <!-- REACT COMPONENT -->
        <%= react_component "TagsCard", {tags: @tags, business_card: @business_card, current_user: @current_user}, {style: "height:100%; width:100%; padding:25px"} %>
      </div>
    </div>
  </div>





<!-- JAVASCRIPT -->
<% content_for(:after_js) do %>
<script>
    // CHANGE BUTTON ON PHOTO UPLOAD
    $(".file-upload").on("change", function(){
      $(".fa-cloud-upload").addClass("hidden");
      $(".business-card-btn").removeClass("hidden");
      $($(this).closest(".flex-center")).css('padding-left', '95px');
    });
  </script>
<% end %>



