<!-- TITLE -->
<% content_for(:title_tag) do %>
  NLAC | <%= @business_card.user == current_user ? current_user.business_card.full_name : @business_card.full_name %>
<% end %>

<!-- CONTENT -->
<div class="container">

  <!-- LEFT SIDE -->
  <div class="business-card-left">
    <!-- TOP -->
    <div class="flex-start" style="height: 28px; margin-bottom: 10px;">
      <% if @business_card != current_user.business_card %>
        <div class="btn business-card-btn">
          <%= link_to 'Send Message', conversations_path(sender_id: current_user.id, recipient_id: @business_card.id), method: :post %>
        </div>
      <% end %>
    </div>

    <!-- BUSINESS CARD -->
    <div class="business-card flex-colomn">
      <% if @business_card != current_user.business_card %>
        <!-- UNFRIEND -->
        <div class="flex-end">
          <%= link_to connection_path(user: current_user, contact: @business_card.user), method: :delete do %>
            <i class="material-icons destroy" title="Remove from contacts">clear</i>
          <% end %>
        </div>
        <% else %>
        <!-- EDIT -->
        <div class="flex-end">
          <i class="material-icons edit" title="Edit your information">mode_edit</i>
        </div>
      <% end %>
      <!-- AVATAR -->
      <div class="flex-center">
        <% if !@business_card.photo.url.nil? %>
          <% avatar = @business_card.photo.url %>
        <% elsif @business_card.linkedin_picture_url != "" && !@business_card.linkedin_picture_url.nil? %>
          <% avatar = @business_card.linkedin_picture_url %>
        <% else %>
          <% avatar = "avatar.png" %>
        <% end %>
        <%= image_tag avatar, class: 'business-card-avatar' %>
      </div>
      <!-- NAME -->
      <div class="flex-center" style="margin-top: 30px;">
        <h1><%= @business_card.full_name %></h1>
      </div>
      <!-- POSITION -->
      <div class="flex-center" style="margin-top: 20px;">
        <h2><%= @business_card.position %></h2>
      </div>
      <!-- COMPANY -->
      <div class="flex-center" style="margin-top: 10px;">
        <h2>@ <%= @business_card.company_name %></h2>
      </div>
      <!-- CONTACTS -->
      <div class="flex-end" style="margin-top: 30px; border-bottom: 1px solid #E0E0E0;">
        <%= link_to business_card_connections_path(@business_card) do %>
          <p><span style="color: #63D5C3;"><%= @business_card.user.contacts.count %></span> contacts</p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="business-card-right">

  </div>
</div>
